{{extend './layout/layout.html'}}

{{block "head"}}
<title>联系我们</title>
<style>
  img {
    width: 100%;
    height: 100%;
  }

  .connect_fk_banner {
    width: 100%;
    height: 300px;
    background: url(../public/img/11.jpg);
    background-size: cover;
    background-position: -50px;
  }
</style>
{{/block}}

{{block "content"}}
<div class="connect_banner">
  <div class="connect_fk_banner">
    <!-- <img src="../public/img/展示.jpg"> -->
  </div>
</div>
<div class="container">
  <div> 联系我们</div>
  <div> 以**的技术为客户提供高质量的产品；以诚信的态度为客户提供**的服务</div>
  <div class="row">
    <div class="col-md-3 col-sm-6">
      <div>
        <img src="../public/img/1.png.webp">
      </div>
      <p>电话</p>
      <p>13861729821</p>
      <p>13921132220</p>
    </div>
    <div class="col-md-3 col-sm-6">
      <div>
        <img src="../public/img/2.png.webp">
      </div>
      <p>传真</p>
      <p>0510-88600020</p>
    </div>
    <div class="col-md-3 col-sm-6">
      <div>
        <img src="../public/img/3.png.webp">
      </div>
      <p>联系邮箱</p>
      <p>ideal_wx@163.com</p>
    </div>
    <div class="col-md-3 col-sm-6">
      <div>
        <img src="../public/img/4.png.webp">
      </div>
      <p>联系地址</p>
      <p>江苏省无锡市锡山区东港镇东湖村</p>
    </div>
  </div>
</div>
{{/block}}

<!-- {{block "script"}} -->

<!-- {{/block}} -->